*{
    margin:0px;
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: blue;
}
/* 메뉴바 주석 */
#menu {
    height: 100%;
    position: fixed;
    background-color: #F2BC1B;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    z-index: 2;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0px;
}

.menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#blob-path {
    height: 100%;
    fill:#157035;
}

.hamburger {
    right: 10px;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -10px;  
}

.hamburger .line {
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

h1 {
    position: fixed;
    right: 0;
    margin: 0;
} 

.menu-inner-ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 15%;
    position: absolute;
    top: 10px;
}

.menu-inner-ul-li{
    color: #12315c;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px 0;
}
.menu_inner_profile_ul {
    padding: 0;
    list-style: none;
    width: 70%;
    margin-left: 15%;
    position: absolute;
    bottom: 5%;
    border-radius: 50px 50px;
}
.menu_inner_profile_ul li {
    text-align: left;
    padding: 2px;
}
.menu_inner_profile_ul li:nth-child(odd) {
    color: #12315c;
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
}
.menu-inner i {
    position: absolute;
    bottom: 5%;
    left: 40%;
    color: #12315c;
    font-size: 40px;
}
/*메인 페이지*/
.main{
    width: 100%;
    height: auto;
    color:#2a69bb;
    text-align: center;
    position: relative;
    background-color: #333;
}
video {
    width: 100%;
    height: auto;
}
.main_img{
    position: absolute;
    top: 100px;
    left:42%;
}
.main img{
    width: 200px;
    border-radius: 45%;
    margin-top: 90px;
}
.main p{
    font-size: 72px;
    font-weight: bold;
    margin:0px;
    padding:15px;
}
.introduce{
    display: flex;
    justify-content:center;
    height: 770px;
    margin-top: 140px;
}
.box{
    display: flex;
    width: 43%;
    height: 700px;
}
.intro{
    width: 450px;
    margin-top: 84px;
    margin-left: 200px;
}
.box .intro .inform{
    line-height: 22px;
}
.box1{
    display: flex;
    width: 45%;
    height: 700px;
}
.boxbox{
    width: 232px;
    height: 200px;
    padding:20px;
    margin-left: 40px;
    margin-top: 84px;
}
.boxbox img{
    width: 120px;
}
.boxbox p{
    margin:0px;
    font-size: 11px;
    line-height: 20px;
}
.boxbox .bold{
    padding: 12px 0px;
    font-size: 20px;
    font-weight: bold;
    color:#2a69bb;
}
.introduce{
    margin-left: 20px;
}
.introduce .bigfont{
    font-size: 24px;
    font-weight: bold;
}
.introduce .mid{
    font-size: 16px;
}
.introduce p{
    font-size: 14px;
    line-height: 28px;
}
.introduce span{
    font-weight: bold;
    color: #2a69bb;
}
.bigspan{
    font-size: 98px;
}
.introduce .midspan{
    font-size: 22px;
    font-weight: normal;
}
.introduce button{
    cursor: pointer;
    color: #ffffff;
    background-color: #2a69bb;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color:#2a69bb;
    border-radius: 50px 50px 50px 50px;
    padding: 16px 34px 16px 34px;
}
/* 여기부터는 웹디자인 */
.design{
    margin-top: 100px;
}
.container1{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
}
.big{
    font-weight: bold;
    color:#2a69bb;
    margin-left: 300px;
    margin-top: 50px;
    text-align: left;
    font-size: 40px;
}
.gd1 {
    margin-top: 5%;
}
.gd1_r {
    display: inline-block;
    position: relative;
    width: 400px;
    margin-left: 5%;
}
.gd1_r img{
    width: 100%;
    height: auto;
}
.gd1_e {
    display: inline-block;
    position: relative;
    height: 500px;
    margin-left: 5%;
}
.gd1_e img{
    width: auto;
    height: 100%;
}
.gd1 p {
    position: absolute;
    top: -50px;
    font-size: 20px;
    color: #2a69bb;
}
.gd2 {
    margin-top: 5%;
}
.gd2 div {
    position: relative;
    height: 800px;
    width: auto;
    margin-top: 10%;
}
.gd2 img {
    height: 100%;
    width: auto;
}
.gd2 p {
    position: absolute;
    top: -50px;
    left: 20%;
    font-size: 20px;
    color: #2a69bb;
}

.web_design_bimg {
    position: absolute;
    display: none;
    z-index: 4;
}
.web_design_bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    display: none;
    z-index: 3;
}
.showedimg_div {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.showedimg_div i {
    color: white;
    position: absolute;
    top: -2%;
    right: 5%;

}
.showedimg {
    width: auto;
    object-fit: cover;
    height: 100vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* UX / UI */
.mozzi {
    margin-top: 5%;
    margin-left: 20%;
    text-align: left;
}

.mozzi p {
    color: #2a69bb;
    font-size: 20px;
}
.mozzi_img1, .mozzi_img2 {
    display: inline;
    position: relative;
}
.mozzi_img1 img {
    width: 40%;
    height: auto;
    margin-top: 5%;
    margin-left: 3%;
    vertical-align: top;
}
.mozzi_img1 p {
    position: absolute;
    top: 15px;
    left: 40%;
}
.mozzi_img2 img {
    width: 40%;
    height: auto;
    margin-top: 5%;
    margin-left: 3%;
    vertical-align: top;
}
.mozzi_img2 p {
    position: absolute;
    top: 15px;
    left: 35%;
}
.mozzi_slide {
    position: absolute;
    top: 900px;
    left: 220px;
    width: 200px;
    height: auto;
}
.mozzi_slide li {
    display:none;
    -webkit-display:block;
}
.mozzi_slide img {
    width: 100%;
    height: auto;
}

.ux_ui_img {
    margin-top: 5%;
    margin-left: 20%;
    text-align: left;
    position: relative;
    height: 1200px;
}
.ux_ui_img p {
    color: #2a69bb;
    font-size: 20px;
}
.ux_ui_img div {
    position: absolute;
}
.ux_ui_img1 {
    top: 5%;
    width: 45%;
    height: auto;
}
.ux_ui_img1 img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.ux_ui_img2 {
    top: 25%;
    left: 50%;
    width: 45%;
    height: auto;
}
.ux_ui_img2 img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.ux_ui_img3 {
    top: 50%;
    width: 45%;
    height: auto;
}
.ux_ui_img3 img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}



/* 여기부터는 웹퍼블리싱입나다~~~~ */
.Publishing {
    margin-bottom: 10%;
}
.container2{
    width: 100%;
    height: 100%;
}
.publish_content{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    display: flex;
}
.title{
    font-size: 24px;
    font-weight: bold;
    color:#2a69bb;
    width: 360px;
}
.publish_img {
    flex: 1;
    margin-left: 13%;
    position: relative;
}
.publish_img img{
    width: auto;
    height: auto;
}

.explain{
    flex: 1;
    width: 40%;
    height: 100%;
    margin: auto 0;
}
.explain button{
    cursor: pointer;
    color: #ffffff;
    background-color: #2a69bb;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #2a69bb;
    border-radius: 50px 50px 50px 50px;
    padding: 16px 34px 16px 34px;
}
.list{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.list ul{
    margin-top:50px;
}
.list li{
    margin-top: 30px;
}
.container2 .paper{
    width: 1145px;
    height: 900px;
    margin-top: 200px;
    margin-left: 300px;
    border: 1px solid red;
}

/* progressbar */
.progressbar {
    margin-left: 10%;
}
.progressbar_flex {
    display: flex;
    justify-content: center;
}
.circle_pro {
    margin: 35px;
    position: relative;
}
.circle_pro img {
    width: 90px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.percent {
    position: absolute;
    left: 80px;
    bottom: -40px;
    font-size: 25px;
    color: #2a69bb;
}

.lineprogress {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}
.lineprogress div {
    display: inline-block;
    position: relative;
    width: 40%;
    margin: 20px;
}
.lineprogress p {
    text-align: center;
    font-size: 25px;
    color: #2a69bb;
}
progress {
    width: 100%;
    height: 45px;
}